@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

.light-mode {
  --pricolor-1: #fff0f0;
  --pricolor-2: #ebd4d4;
  --seccolor-1: #835858;
  --seccolor-2: #463333;
}

.dark-mode {
  --pricolor-1: #222831;
  --pricolor-2: #393e46;
  --seccolor-1: #ebd4d4;
  --seccolor-2: #fff0f0;
}

/*
=============== 
Global Styles
===============
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--seccolor-1);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: var(--seccolor-2);
  margin-bottom: 4rem;
  text-align: center;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--seccolor-2);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--seccolor-1);
}

.btn {
  text-transform: uppercase;
  background-color: var(--seccolor-1);
  color: var(--pricolor-2);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

/*
=============== 
Navbar
===============
*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    background-color: var(--pricolor-2);
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header img {
    margin-bottom: 0.375rem;
  }
  .toggle-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--seccolor-2);
    cursor: pointer;
    transition: var(--transition);
  }
  .toggle-btn:hover {
    color: var(--seccolor-1);
  }
  .nav-links {
    color: var(--seccolor-2);
    display: none;
  }

  @media screen and (min-width: 768px) {
    .toggle-btn {
      display: none;
    }
    .nav-links {
      display: flex;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 2rem;
    }
    .nav-links a {
      text-transform: capitalize;
      color: var(--seccolor-1);
      font-weight: bold;
      letter-spacing: var(--spacing);
      transition: var(--transition);
      padding: 0.5rem 0;
    }
    .nav-links a:hover {
      color: var(--seccolor-1);
      border-bottom:2px solid var(--seccolor-2);
    }
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }


/*
=============== 
Sidebar
===============
*/
.sidebar {
  /* background: hsl(210, 36%, 96%);*/
  background: var(--pricolor-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--seccolor-2);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  color: var(--pricolor-1);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--seccolor-2);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toggle-container {
  position: absolute;
  right: 10vw;
  top: 100px;
  text-align: center;
  color: var(--seccolor-2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--seccolor-1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--pricolor-1);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--seccolor-2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--seccolor-2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.section-odd {
  background-color: var(--pricolor-1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-even {
  background-color: var(--pricolor-2);
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
=============== 
Hero Section
===============
*/

.hero {
  /* margin-top: 5rem; */
  height: 100vh;
  display: grid;
  align-items: center;
}

.hero .btn {
  margin-top: 1.25rem;
}

.hero .underline {
  margin-bottom: 1.25rem;
  margin-left: 0;
  margin-right: 0;
  background: var(--seccolor-1);
}

.hero-text h1 {
  color: var(--seccolor-2);
}

.hero-text h5 {
  color: var(--seccolor-1);
}

/*
=============== 
Education Section
===============
*/

.education {
  color: var(--seccolor-2);
}

.edu-container {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}


.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

.btn-container button {
  color: var(--seccolor-2);
}

.edu-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  padding: 10px;
}
.edu-btn:hover {
  background-color: var(--seccolor-1);
  color: var(--pricolor-1);
}

.active-btn {
  background: var(--pricolor-1);
  box-shadow: var(--dark-shadow);
}

.active-btn:hover {
  background: var(--pricolor-1);
  box-shadow: var(--dark-shadow);
  color: var(--seccolor-2);
}

.edu-info {
  padding: 20px;
  background: var(--pricolor-1);
  box-shadow: var(--dark-shadow);
}

.edu-info h3 {
  font-weight: 400;
}
.edu-info h4 {
  text-transform: uppercase;
  color: var(--seccolor-1);
  background: var(--pricolor-2);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  border:2px solid var(--seccolor-1);
}
.edu-date {
  letter-spacing: var(--spacing);
}
.edu-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.edu-desc p {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .edu-container {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .edu-btn {
    margin-bottom: 1rem;
  }
}

/*
=============== 
Activities
===============
*/

/* .activity {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--clr-grey-10);
  box-shadow: var(--dark-shadow);
} */

.act-img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 25px;
}

.Timeline {
  position: relative;
}

.Timeline::before {
  content: '';
  background: var(--seccolor-2);
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item-right, .timeline-item-left {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item-right .timeline-content {
  float: right;
  padding: 50px 30px 10px 30px;
}

.timeline-item-left .timeline-content {
  padding: 50px 30px 10px 30px;
}

.timeline-item-right .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item-right .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent var(--pricolor-2) transparent transparent;
}

.timeline-item-right::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-item-left::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  color: var(--seccolor-2);
  background: var(--pricolor-2);
  text-align: center;
  box-shadow: var(--dark-shadow);
}


.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent var(--pricolor-2);
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: var(--seccolor-2);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.date {
  background: var(--pricolor-1);
  border:2px solid var(--seccolor-2);
  display: inline-block;
  color: var(--seccolor-2);
  font-size: 15px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .Timeline::before {
    left: 50px;
  }
  .Timeline .timeline-img {
    left: 50px;
  }
  .Timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .Timeline .timeline-item-right .timeline-content {
    float: none;
  }
  .Timeline .timeline-item-left .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--pricolor-2) transparent transparent;
  }

  .timeline-item-left .timeline-content .date {
      right: auto;
      left: 0;
  }
}

/*
=============== 
Projects
===============
*/
.project {
  display: grid;
  margin-bottom: 4rem;
  color: var(--seccolor-2);
}
.project-img {
  height: 19rem;
  width: 90vw;
  z-index: 1;
  filter: brightness(50%);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

/* .project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  opacity: 0.85;
  transition: var(--transition);
} */
/* .project:hover .project-img::after {
  opacity: 0;
} */
.project-info {
  background: var(--pricolor-1);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--seccolor-1);
  margin-bottom: 0.75rem;
}
.project-info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack .stack-item {
  margin-top: 1rem;
}

.project-stack span,
.about-stack span {
  display: inline-block;
  background: var(--seccolor-1);
  color: var(--pricolor-1);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.project-icon {
  color: var(--seccolor-2);
  font-size: 2rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.project-icon:hover {
  color: var(--clr-primary-1);
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
    width: 50vw;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
    width: 50vw;
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    height: 30rem;
    width: 50vw;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }
  .project-info {
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);

    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

/*
=============== 
Skills
===============
*/

.skills {
  text-align: center;
  color: var(--seccolor-2);
}

.skill-subset {
  background-color: var(--pricolor-2);
  padding: 50px;
  margin: 20px auto;
  align-items: center;
  box-shadow: var(--dark-shadow);
}

.skill {
  text-align: left;
  margin-top: 15px;
}

progress {
  width: 100%;
}

/*
=============== 
Footer
===============
*/

footer {
  background-color: var(--pricolor-2);
  color: var(--seccolor-2);
}

footer .contact {
  text-align: center;
}

footer .social-link {
  margin: 0px 15px;
}

footer a {
  color: var(--seccolor-1);
}

footer a:hover {
  color: var(--pricolor-1);
}